/*--General--*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	background: #E6E6E6;
	padding-top: 100px;
	box-sizing: border-box;
}

h1, h2, h3{
	font-family: 'Roboto', sans-serif;
}

h1, h2{
	font-size: 2.5em;
	width: 90%;
}

h3{
	font-size: 1.5em;
}

header, .wrapper, .main, footer{
	width: 100%;
}

/*--Menu de Navegacion--*/
header{
	height: 100px;
	left: 0;
	top: 0;
	background: #FFF;
	position: fixed;
	z-index: 999;
}

header nav{
	width: 100%;
	background: #FFF;
}

.menu_bar{
	display: none;
}

.logo_nav{
	display: block;
	float: left;
}

.logo_nav img{
	width: 150px;
	padding: 15px;
}

header nav ul{
	float: right;
	list-style: none;
	overflow: hidden;
}

header nav ul li{
	float: left;
	padding: 20px 10px;
	border-right: 0.5px solid #F2F2F2;
	border-collapse: collapse;
	box-sizing: border-box;
}

header nav ul li span{
	margin-right: 10px;
}

header nav ul li a{
	font-size: 1em;
	padding: 15px 20px;
	display: block;
	color: #4D4D4D;
	text-decoration: none;
	box-sizing: border-box;
}

header nav ul li a:hover{
	background: #F8F6F6;
}
/*--Fin Menu de Navegacion--*/

/*--Home--*/
.homewrapper{
	width: 100%;
}

.inforesp{
	display: none;
}

.imgwrapper{
	display: block;
	position: relative;
}
.imgwrapper img{
	width: 90%;
	height: auto;
}

.textbox1{
	position: absolute;
	top: 25%;
    left: 40%;
    width: 50%;
    color: #FFF;
    text-align: left;
}

.textbox1 h1{
	font-size: 2.5em;
}

.textbox1 p{
	font-size: 1.5em;
}
/*--Fin Home--*/

/*--Clientes/Aliados--*/
.clientes{
	width: 100%;
}

.cliente, .aliado{
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	padding: 50px;
}

.cliente img, .aliado img{
	opacity: 0.5;
}

.cliente img:hover, .aliado img:hover{
	opacity: 1;
}
/*--Fin Clientes--*/

/*--Nosotros--*/
.infowrapper{
	background: #5387C4;
}

.infowrapper div img{
	width: 100%;
}

.infowrapper h2, .proyectos h2, .team h2{
	color: #FFF;
}

.textbox2, .textbox3{
	color: #FFF;
	width: 50%;
	font-size: 1.5em;
}

.imgbox1{
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}
/*--Fin Nosotros--*/

/*--Servicios--*/
.servicewrapper{
	position: relative;
	width: 40%;
}

.servicewrapper img{
	width: 100%;
}

.linkarea{
	position:absolute;
  	top:0;
  	left:0;
  	right:0;
  	bottom:0;
  	width:100%;
  	height:100%;
}

.linkarea a {
  position:absolute;
}

.linkarea a:hover {
  background:rgba(255,255,255,.3);
}

.link-1 {
    top: 20%;
    left: 41.75%;
    width: 16%;
    height: 13%;
}

.link-2 {
    top: 74.5%;
    left: 14%;
    width: 14.5%;
    height: 12.5%;
}

.link-3 {
    top: 73%;
    left: 73.5%;
    width: 9%;
    height: 17%;
}

.servicebox{
	width: 35%; 
	display: inline-block;
	vertical-align: middle;
}

.servicio{
	font-size: 2em;
}

.servicioinfo{
	font-size: 1.5em;
}
/*--Fin Servicios--*/

/*--Proyectos--*/
.proyectos{
	background: #FF606E;
}

.project{
	display: inline-block;
	vertical-align: middle;
	width: 500px;
	padding: 50px;
	box-sizing: border-box;
}

.project img{
	width: 100%;
}

.project p{
	text-align: justify-all;
	font-size: 1.25em;
	color: #FFF;
}
/*--Fin Proyectos--*/

/*--Eventos--*/
.eventos{
	width: 100%;
}

.events{
	width: 90%;
}

.events p{
	font-size: 1.5em;
	width: 100%;
	color: #585858;
} 

iframe{
	width: 75%;
	height: 900px;
	border: none;
	overflow: hidden;
	display: block;
	box-sizing: border-box;
}
/*--Fin Eventos--*/

/*--Equipo--*/
.team{
	background: #00D18A;
}

.textboxteam{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.infoteam{
	position: absolute;
	top: 10%;
	left: 5%;
	color: #000;
	text-align: center;
	width: 90%;
}

.infoteam p{
	font-size: 1.25em;
}
/*--Fin Equipo--*/

/*--Contacto--*/
.contacto{
	width: 100%;
}

.contacto img{
	width: 100%;
}

.contactboxmail{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.contactboxfb{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.contactboxmail p, .contactboxfb p{
	font-size: 1.2em;
}

.contactboxmail span, .contactboxfb span{
	margin-right: 10px;
	font-size: 1.5em;
}

.contactboxfb a{
	text-decoration: none;
}
/*--Fin Contacto--*/

/*--Pie de Página--*/
footer{
	background: #6E6E6E;
	color: #FFF;
	clear: both;
	padding: 10px 0px;
	text-align: center;
	box-sizing: border-box;
}
/*--Fin Pie de Página--*/


/*--Slider--*/
.flexslider{
	width: 90%;
	max-width: 1500px;
	margin: 50px auto;
	position: relative;
}

.slides{
	width: 100%;
	overflow: hidden;
}

.slides img{
	width: 100%;
}

.slides, .flex-control-nav, .flex-direction-nav{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

.flex-control-nav{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 95%;
	z-index: 1;
}

.flex-control-nav li{
	display: inline-block;
	margin: 0px 6px;
}

.flex-control-nav li a{
	display: block;
	background: #777777;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	text-indent: -9999px;
}

.flex-control-nav li a:hover{
	background: #2E2E2E;
}

.flex-control-nav li a.flex-active{
	background: #2E2E2E;
}

.flex-direction-nav a{
	display: block;
	text-decoration: none;
	position: absolute;
	top: 50%;
	z-index: 1;
	width: 40px;
	height: 40px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-prev{
	left: 0;
}

.flex-direction-nav .flex-next{
	right: 0;
}

.flex-direction-nav a:before{
	font-family: "flexslider-icon";
	font-size: 40px;
	display: inline-block;
	content: '\f001';
	color: #A4A4A4;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before{
	content: '\f002';
}

.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 0.7;
	left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover{
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 0.7;
	right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover{
	opacity: 1;
}
/*--Fin Slider--*/

/*--Fuente--*/
@font-face{
	font-family:'flexslider-icon';
	src: url('../fonts/flexslider-icon.eot');
	src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/flexslider-icon.woff') format('woff'), 
		url('../fonts/flexslider-icon.ttf') format('truetype'), 
		url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}﻿


	
	
